*{
    margin : 0;
}

body{
    font-family: Insert;
}

article.journal-entry {
    display: flex;
    align-items: flex-start; /* Ensure both image and text align to the top */
    margin-bottom: 30px;     /* Optional: add space between entries */
    padding-top: 50px;
}

article.journal-entry .info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5px;      /* add space from the top so text isn’t stuck */
    flex: 1;               /* allow it to grow to fill space */
}


article.journal-entry .marker {
    width: 12px;
    margin-right: 4px;
    margin-bottom: 40px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 19px;
    padding-left: 50px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    padding-top: 10px;
    font-size: 0.95rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.info-header{
    display: flex;
    justify-content: flex-start;
}